*.pyc
__pycache__/
*.sqlite3
media/
staticfiles/
*.env
venv
# SQLite database
db.sqlite3
ecommerce_catalog/db.sqlite3

# Django migrations
*/migrations/

# Static files
/static/

# Media files
/media/

# Environment variables
*.env
*.log
